<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE cm_data PUBLIC '-//Gatespace//DTD cm_data 0.1//EN' 'cm_data.dtd'>
<cm_data version="0.1">
<!-- EDITING THIS FILE IS NOT GUARANTEED TO WORK  -->
<configuration pid="org.angolight.bo.BoManager" mode="new">
<property name="service.pid">
<value type="String">org.angolight.bo.BoManager</value>
</property>
<property name="service.bundleLocation">
<value type="String">initial@reference:file:../../../../../../projets/geolia/common/dev/workspace/geolia/angolight/org.angolight.bo/</value>
</property>
<property name="trigger_percent">
<value type="Double">5.0</value>
</property>
<property name="vminup">
<value type="Double">0.972222222</value>
</property>
<property name="vmindown">
<value type="Double">0.833333333</value>
</property>
<property name="vmaxup">
<value type="Double">25.555555556</value>
</property>
<property name="vmaxdown">
<value type="Double">25</value>
</property>
<property name="org.avm.config.version">
<value type="Integer">6</value>
</property>
<property name="config.date">
<value type="String">Tue Apr 14 09:03:50 CEST 2009</value>
</property>
<property name="curvers_filename">
<value type="String">{0}/data/ango/bo/20090101001122/curves.txt</value>
</property>
</configuration>
</cm_data>
