<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE cm_data PUBLIC '-//Gatespace//DTD cm_data 0.1//EN' 'cm_data.dtd'>
<cm_data version="0.1">
<!-- EDITING THIS FILE IS NOT GUARANTEED TO WORK  -->
<configuration pid="org.avm.elementary.phony.Phony" mode="new">
<property name="service.pid">
<value type="String">org.avm.elementary.phony.Phony</value>
</property>
<property name="service.bundleLocation">
<value type="String">ftp://ftp:ftp++@avm/default/org.avm.device.knet.phony.jar</value>
</property>
<property name="org.avm.device.phony.contactlist">
<value type="String"></value>
</property>
<property name="config.date">
<value type="String">Thu Sep 14 11:38:26 CEST 2006</value>
</property>
</configuration>
</cm_data>
