<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE cm_data PUBLIC '-//Gatespace//DTD cm_data 0.1//EN' 'cm_data.dtd'>
<cm_data version="0.1">
<!-- EDITING THIS FILE IS NOT GUARANTEED TO WORK  -->
<configuration pid="org.avm.hmi.swt.alarm.AlarmIhm" mode="new">
<property name="service.pid">
<value type="String">org.avm.hmi.swt.alarm.AlarmIhm</value>
</property>
<property name="service.bundleLocation">
<value type="String">http://localhost/org.avm.hmi.swt.alarm.jar</value>
</property>
<property name="org.avm.config.version">
<value type="Integer">1</value>
</property>
<property name="org.avm.hmi.swt.alarm.command.VehiculeFullCommand">
	<value type="String">#Tue Nov 21 11:52:37 CET 2006
		notify=true
		source=PleineCharge
	</value>
</property>
</configuration>
</cm_data>
