<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE cm_data PUBLIC '-//Gatespace//DTD cm_data 0.1//EN' 'cm_data.dtd'>
<cm_data version="0.1">
<!-- EDITING THIS FILE IS NOT GUARANTEED TO WORK  -->
<configuration pid="org.avm.elementary.wifi.Wifi" mode="new">
<property name="service.pid">
<value type="String">org.avm.elementary.wifi.Wifi</value>
</property>
<property name="service.bundleLocation">
<value type="String">initial@reference:file:../../../dev/workspace/geolia/avm/elementary/org.avm.elementary.wifi/</value>
</property>
<property name="balise-list">
<value type="String">100000;100001;100002;100003;100004;100005</value>
</property>
<property name="balise-attr-id">
<value type="String">50</value>
</property>
<property name="org.avm.config.version">
<value type="Integer">3</value>
</property>
<property name="config.date">
<value type="String">Tue Sep 29 23:19:23 CEST 2009</value>
</property>
</configuration>
</cm_data>
