.arret{
	background-color: #e9b803;
	color: #ffffff;
}

.prochain-arret{
	background-color: #3b4693;
	color: #ffffff;
	-moz-border-radius-topleft: 2%;
	-moz-border-radius-topright: 2%;
	-moz-border-radius-bottomleft: 2%;
	-moz-border-radius-bottomright: 2%;
}

.destination{
	background-color: #8baa2b;
	color: #ffffff;
}

.information-generale{
	background-color: #2056ae;
	color: white;
}

.information-avertissement{
	background-color: rgb(247,172,0);
	color: white;
}

.information-perturbation{
	background-color: red;
	color: black;
}

div#clock {
	color: white;
}

