<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE cm_data PUBLIC '-//Gatespace//DTD cm_data 0.1//EN' 'cm_data.dtd'>
<cm_data version="0.1">
<!-- EDITING THIS FILE IS NOT GUARANTEED TO WORK  -->
<configuration pid="org.angolight.kinetic.KineticService" mode="new">
<property name="service.pid">
<value type="String">org.angolight.kinetic.KineticService</value>
</property>
<property name="service.bundleLocation">
<value type="String">initial@reference:file:../../../dev/workspace/geolia/avm/org.angolight.kinetic.gps/</value>
</property>
<property name="minimum-speed-up">
<value type="Double">0.416666667</value>
</property>
<property name="org.avm.config.version">
<value type="Integer">1</value>
</property>
<property name="minimum-speed-down">
<value type="Double">0.277777778</value>
</property>
<property name="config.date">
<value type="String">Mon Jun 01 22:00:44 CEST 2009</value>
</property>
</configuration>
</cm_data>
