<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE cm_data PUBLIC '-//Gatespace//DTD cm_data 0.1//EN' 'cm_data.dtd'>
<cm_data version="0.1">
<!-- EDITING THIS FILE IS NOT GUARANTEED TO WORK  -->
<configuration pid="org.angolight.halfcycle.HalfCycleService" mode="new">
<property name="service.pid">
<value type="String">org.angolight.halfcycle.HalfCycleService</value>
</property>
<property name="filename">
<value type="String">{0}/data/ango/halfcycle/20090101001122/curves.txt</value>
</property>
<property name="service.bundleLocation">
<value type="String">initial@reference:file:../../../dev/workspace/geolia/ango/org.angolight.halfcycle/</value>
</property>

<property name="config.date">
<value type="String">Tue Jun 09 18:36:03 CEST 2009</value>
</property>
<property name="org.avm.config.version">
<value type="Integer">3</value>
</property>
<property name="minimum-speed-up">
<value type="Double">0.41666666666666663</value>
</property>
<property name="minimum-speed-down">
<value type="Double">0.2777777777777778</value>
</property>
<property name="positive-acceleration-up">
<value type="Double">0.1</value>
</property>
<property name="positive-acceleration-down">
<value type="Double">0.05</value>
</property>
<property name="negative-acceleration-up">
<value type="Double">-0.05</value>
</property>
<property name="negative-acceleration-down">
<value type="Double">-1.0</value>
</property>
</configuration>
</cm_data>
