<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE cm_data PUBLIC '-//Gatespace//DTD cm_data 0.1//EN' 'cm_data.dtd'>
<cm_data version="0.1">
<!-- EDITING THIS FILE IS NOT GUARANTEED TO WORK  -->
<configuration pid="org.avm.elementary.directory.Directory" mode="new">
<property name="service.pid">
<value type="String">org.avm.elementary.directory.Directory</value>
</property>
<property name="service.bundleLocation">
<value type="String">initial@reference:file:../../../dev/workspace/geolia/avm/elementary/org.avm.elementary.directory/</value>
</property>
<property name="org.avm.config.version">
<value type="Integer">5</value>
</property>
<property name="config.date">
<value type="String">Thu Nov 04 15:39:20 CEST 2010</value>
</property>
<property name="filename">
<value type="String">{0}/data/directory/19700101000000</value>
</property>
</configuration>
</cm_data>
