<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="fr.cityway.avm.embedded.ide" sequenceNumber="64">
<locations>
<location path="${project_loc}/equinox/" type="Directory"/>
<location path="${project_loc}/knopflerfish/" type="Directory"/>
<location path="${project_loc}/3rdparty/" type="Directory"/>
</locations>
<includeBundles>
<plugin id="org.eclipse.equinox.device"/>
<plugin id="consoletelnet"/>
<plugin id="org.eclipse.equinox.servlet.api"/>
<plugin id="cm"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="com.springsource.org.junit"/>
<plugin id="console"/>
<plugin id="org.eclipse.equinox.http"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.log"/>
<plugin id="org.eclipse.equinox.useradmin"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.equinox.wireadmin"/>
<plugin id="xml"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.osgi"/>
</includeBundles>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/CG38"/>
</target>
