<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE cm_data PUBLIC '-//Gatespace//DTD cm_data 0.1//EN' 'cm_data.dtd'>
<cm_data version="0.1">
<!-- EDITING THIS FILE IS NOT GUARANTEED TO WORK  -->
<configuration pid="org.avm.business.girouette.ClientGirouette" mode="new">
<property name="service.pid">
<value type="String">org.avm.business.billettique.atoumod.Billettique</value>
</property>
<property name="host">
<value type="String">192.168.3.1</value>
</property>
<property name="port">
<value type="Integer">33333</value>
</property>
<property name="local-port">
<value type="Integer">33333</value>
</property>
<property name="tsurv">
<value type="Integer">10</value>
</property>
<property name="nsurv">
<value type="Integer">5</value>
</property>
<property name="service.bundleLocation">
<value type="String">ftp://ftp:ftp++@avm/default/org.avm.business.billettique.atoumod.jar</value>
</property>
<property name="org.avm.config.version">
<value type="Integer">2</value>
</property>
</configuration>
</cm_data>
