.numkeyboard{
	float: left;
	border: 1px solid #333;
	font-size : 2em;
	width: 90px;
	height: 60px;
	text-align: center;
	margin: 2px;
	cursor: pointer;
}

.redbutton{
	font-size : 1.2em;
	background-color: #aa1111;
	color: #fff;
}

.greenbutton{
	font-size : 1.2em;
	background-color: #11aa11;
	color: #fff;	
}

.clear {
	clear: both;
}

#test{
	width: 400px;
}